/IWSK-RS232/IWSK-RS232.csproj.user
/IWSK-RS232/IWSK-RS232.ncrunchsolution
/IWSK-RS232/IWSK-RS232.ncrunchsolution.user
/IWSK-RS232/IWSK-RS232.suo

/IWSK-RS232/bin/Debug/IWSK-RS232.exe
/IWSK-RS232/bin/Debug/IWSK-RS232.pdb
/IWSK-RS232/bin/Debug/IWSK-RS232.vshost.exe
/IWSK-RS232/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/IWSK-RS232/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IWSK-RS232/obj/x86/Debug/IWSK-RS232.csproj.FileListAbsolute.txt
/IWSK-RS232/obj/x86/Debug/IWSK-RS232.csproj.GenerateResource.Cache
/IWSK-RS232/obj/x86/Debug/IWSK-RS232.exe
/IWSK-RS232/obj/x86/Debug/IWSK-RS232.pdb
/IWSK-RS232/obj/x86/Debug/IWSK_RS232.MainForm.resources
/IWSK-RS232/obj/x86/Debug/IWSK_RS232.Properties.Resources.resources

/IWSK-RS232/bin/Debug/IWSK-RS232.vshost.exe.manifest

/IWSK-RS232/obj/x86/Debug/IWSK-RS232.csprojResolveAssemblyReference.cache
